.verify__cert__container {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.verify__cert__container h1 {
  font-size: 50px;
  margin-bottom: 35px;
  color: #858585;
  font-weight: 100;
}

.verify__cert__container .input__container {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.verify__cert__container .input__container input {
  width: 90%;
  border: none;
  background-color: #ededed;
  color: #484747;
  padding: 16px 40px 16px 16px;
  border-radius: 5px;
  font-size: 15px;
  /* padding-right: 40px; */
}
.verify__cert__container .input__container input:focus {
  outline: 1px solid #a5a4a4;
}

.verify__cert__container .input__container svg {
  color: gray;
  background: #ededed;
  position: absolute;
  top: 0;
  right: 3.2%;
  width: 28px;
  height: 100%;
}

.verify__cert__container button {
  background: #4c6fc0;
  color: white;
  border: none;
  font-size: 20px;
  padding: 13px 55px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4vmin;
}

.verify__cert__container .hash {
  margin-top: 7vmin;
  text-align: center;
}

.verify__cert__container .hash p {
  font-size: 20px;
  margin: 0;
}

.verify__cert__container .hash p {
  cursor: pointer;
  color: black;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

/* Certificate Preview Container */

.verify__cert__container .cert__preview__container {
  width: 56%;
  margin: 10vmin auto 0 auto;
  position: relative;
}
.verify__cert__container .cert__preview__container iframe {
  width: 100%;
  height: 685px !important;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.75);
}
/* .verify__cert__container .cert__preview__container img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.75);
} */

.verify__cert__container .cert__preview__container div {
  position: absolute;

  bottom: 10%;
  right: -4%;
  border-radius: 50%;
  background-color: green;
}
.verify__cert__container .cert__preview__container div svg {
  color: white;
  font-size: 20vmin;
  font-weight: bold;
}

/* ================================= */

@media screen and (max-width: 660px) {
  .verify__cert__container {
    margin: 50px auto;
    width: 90%;
  }

  .verify__cert__container h1 {
    font-size: 30px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
  }
  .verify__cert__container .input__container {
    width: 100%;
  }
  .verify__cert__container .input__container input {
    padding: 14px 15px 14px 14px;
  }

  .verify__cert__container .input__container svg {
    width: 25px;
  }
  .verify__cert__container button {
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 8vmin;
  }
  .verify__cert__container .hash {
    margin-top: 15vmin;
  }
  .verify__cert__container .hash p {
    font-size: 15px;
    margin: 0;
  }
  .verify__cert__container .hash p {
    font-size: 12px;
    /* margin-top: 1px; */
  }
  .verify__cert__container .cert__preview__container {
    width: 90%;
  }
  .verify__cert__container .cert__preview__container img {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.75);
  }
  .verify__cert__container .cert__preview__container iframe {
    height: 230px !important;
  }
  .verify__cert__container .cert__preview__container div svg {
    font-size: 20vmin;
  }
  .verify__cert__container .cert__preview__container div {
    right: -9%;
  }
}
