.cert__gen__container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cert__gen__container h1 {
  font-size: 50px;
  margin-bottom: 0;
  color: #858585;
  font-weight: 100;
}

.cert__gen__container h6 {
  font-size: 18px;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #979797;
}

.cert__gen__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 30%;
}
.cert__gen__container form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}
.cert__gen__container form div input {
  border: none;
  background-color: #ededed;
  color: #484747;
  padding: 16px 15px;
  border-radius: 5px;
  font-size: 15px;
}
.cert__gen__container form div input:focus {
  outline: 1px solid #a5a4a4;
}

.cert__gen__container form div label {
  color: #858585;
  font-size: 14px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cert__gen__container .btns__container {
  margin-top: 5vmin;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cert__gen__container .btns__container button {
  background: #3255a5;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 23vmin;
  font-weight: 900;
  font-size: 12px;
}

/* Remove the increment and decrement arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Certificate Preview Container */

.certificate__preview__container {
  padding: 30px 0 50px 0;
  width: 100%;
  background-color: #f7f7f7;
}
.certificate__preview__container h1 {
  text-align: center;
  font-size: 40px;
  color: #858585;
  font-weight: 100;
}

.certificate__preview {
  margin: 0 auto;
  width: 60%;
  height: 95.5vh;
  background: url("/public/assets/certificate__preview.png") no-repeat
    center/contain;
  /* background: url("/public/assets/certificate__preview1.png") no-repeat
    center/contain; */
  position: relative;
}

.certificate__preview p {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 1px;
  color: #928d8d;
  font-family: fangsong;
  margin: 0;
}
.certificate__preview .content__container {
  position: absolute;
  top: 5%;
  left: 5%;
}
.certificate__preview .content__container h4 {
  font-size: 35px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 15px;
}
.certificate__preview .content__container h1 {
  color: black;
  font-weight: bold;
  margin: 5px -2px;
  text-align: left;
}

.certificate__preview .content__container h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 27px;
  text-align: left;
  padding-right: 15vmin;
}
.certificate__preview .content__container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.certificate__preview .logo__container {
  position: absolute;
  bottom: 4%;
  left: 3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.certificate__preview .logo__container img {
  width: 150px;
  height: 150px;
}
.certificate__preview .logo__container div h4 {
  margin: 0;
  font-size: 30px;
  font-weight: 900;
}
.certificate__preview .logo__container div p {
  margin: 0;
  color: black;
  font-style: normal;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 0px;
}

/* ================================= */

@media screen and (max-width: 660px) {
  .cert__gen__container {
    margin: 50px 0;
  }

  .cert__gen__container h1 {
    font-size: 30px;
    margin-top: 0;
    text-align: center;
    font-weight: bold;
  }

  .cert__gen__container h6 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
  }

  .cert__gen__container form {
    width: 85%;
  }
  .cert__gen__container form div input {
    padding: 16px 15px;
    font-size: 15px;
  }
  .cert__gen__container form div:last-child input {
    width: 91%;
  }
  .cert__gen__container .btns__container {
    width: 85%;
  }
  .cert__gen__container .btns__container button {
    width: 39vmin;
    font-size: 13px;
    line-height: 18px;
  }

  /* Certificate Preview Container */

  .certificate__preview__container {
    padding: 10px 0 40px 0;
  }

  .certificate__preview__container h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }

  .certificate__preview {
    margin: 0 auto;
    width: 90%;
    height: 39vh;
    background: url("/public/assets/certificate__preview.png") no-repeat
      center/contain;
    /* background: url("/public/assets/certificate__preview1.png") no-repeat
      center/contain; */
  }

  .certificate__preview p {
    font-size: 14px;
    letter-spacing: 0px;
  }

  .certificate__preview .content__container {
    top: 8%;
    left: 5%;
    width: 80%;
  }

  .certificate__preview .content__container h4 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .certificate__preview .content__container h1 {
    font-size: 17px;
    margin: 3px 0 3px 0;
  }

  .certificate__preview .content__container h2 {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 2px;
  }

  .certificate__preview .content__container h3 {
    font-size: 8px;
  }

  .certificate__preview .logo__container {
    bottom: 8%;
    left: 3%;
    gap: 5px;
    text-align: left;
  }
  .certificate__preview .logo__container img {
    width: 50px;
    height: 50px;
  }
  .certificate__preview .logo__container div h4 {
    margin: 0;
    font-size: 14px;
  }
  .certificate__preview .logo__container div p {
    font-size: 8px;
    color: black;
    font-weight: 900;
  }
}
